<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Flask Plotlyjs Example</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>

  <div class="container">
    <div class="row">
      <div class="col-md-12 jumbotron text-center">
        <h1>Belly Button Biodiversity Dashboard</h1>
        <p>Use the interactive charts below to explore the dataset</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
        <div class="well">
          <h5>SELECT Sample:</h5>
          <select id="selDataset" onchange="optionChanged(this.value)">
            
          </select>
        </div>
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Sample MetaData</h3>
          </div>
          <div id="sample-metadata" class="panel-body"></div>
        </div>
      </div>
      <div class="col-md-5">
        <div id="pie"></div>
      </div>
      <div class="col-md-5">
        <div id="gauge"></div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div id="bubble"></div>
    </div>
  </div>

  <script src="https://cdn.plot.ly/plotly-1.31.2.min.js"></script> 
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="{{ url_for('static', filename='js/bonus.js') }}"></script>
  <script src="{{ url_for('static', filename='js/app.js') }}"></script>
  <!-- <script>

function buildMetadata(sample) {
// Build metadata panel from selected sample
var url = `/metadata/${sample}`;
console.log(`Fetching results for sample ${sample} from ${url}`);
d3.json(url).then(function(data){
  console.log("Metadata Details")
  console.log(data);
  var metaData = d3.select("#sample-metadata");
  // Clear existing metadata
  metaData.html("");
  // Add each key and value pair to panel
  var dataItems = Object.entries(data);
  dataItems.forEach(function(item) {
    var key = item[0];
    var value = item[1];
    metaData
    .append("h6")
    .text(`${key}: ${value}`);
  })
});
}

function buildCharts(sample) {

// Build Bubble Chart using the sample data
var url = `/samples/${sample}`;
console.log(`Building charts for sample ${sample} from ${url}`)
d3.json(url).then(function(data){
  console.log("Sample Details")
  console.log(data);
  var trace1 = [{ 
    x: data.otu_ids,
    y: data.sample_values,
    mode: 'markers',
    marker: {
      color: data.otu_ids,
      colorscale: "Rainbow",
      size: data.sample_values
    },
    "hovertext": data.otu_labels
  }];
  var layout1 = {
  title: `Biodiversity Sample ${sample}`,
  xaxis: { title: "OTU IDs" },
  yaxis: { title: "Sample Values" }
  };
  Plotly.newPlot('bubble', trace1, layout1);
});

  // Build Pie Chart using the top 10 sample_values
  d3.json(url).then(function(data){
    // define dictionaries & arrays to select top 10
    var dKeys = Object.keys(data);
    var idDict = {};
    var labelDict = {};
    var idList = data[dKeys[0]];
    var labelList = data[dKeys[1]];
    var valuesList = data[dKeys[2]];
    for (i = 0; i < valuesList.length; i++) {
      idDict[valuesList[i]] = idList[i];
      labelDict[valuesList[i]] = labelList[i];
    }
    // build id and values lists for top 10 
    var dKeys = Object.keys(idDict);
    var dLen = dKeys.length;
    var ids = [];
    var labels = [];
    var topTen = [];
    for (i = dLen; i > (dLen-11) ; i--) {
      topTen.push(dKeys[i]);
      ids.push(idDict[dKeys[i]]);
      labels.push(labelDict[dKeys[i]]);
    }
    //console.log("values, ids, and labels");
    //console.log(topTen);
    //console.log(ids);
    //console.log(labels);
    var trace2 = [{
        values: topTen,
        labels: ids,
        "hovertext": labels,
        type: 'pie'
      }];
      var layout2 = {
      title: "Top 10 Samples"
      };
      Plotly.newPlot('pie', trace2, layout2);
  }).catch((error) => {
    console.log("Error: " + error);
  });                                                      
}

function init() {
// Grab a reference to the dropdown select element
var selector = d3.select("#selDataset");

// Use the list of sample names to populate the select options
d3.json("/names").then((sampleNames) => {
  sampleNames.forEach((sample) => {
    selector
      .append("option")
      .text(sample)
      .property("value", sample);
  });

  // Use the first sample from the list to build the initial plots
  const firstSample = sampleNames[0];
  buildCharts(firstSample);
  buildMetadata(firstSample);
});
}

function optionChanged(newSample) {
// Fetch new data each time a new sample is selected
buildCharts(newSample);
buildMetadata(newSample);
}

// Initialize the dashboard
init();
</script> -->
</body>
</html>
